@page
@model FRED.Pages.UserControlsModel
@{
    ViewData["Title"] = "UserControls";
}

<div id="addFacePanel">
    <div id="facePanelTop">
        <div id="closeTop"><i onclick="ToggleFacePanel()" class="far fa-times-circle closeWindow"></i></div>        
        <table id="faceTable">
            
            <tr>
                <th><h4>Name</h4></th>
                <th><h4>Description</h4></th>
                <th><h4>Stored Faces</h4></th>
                <th></th>
                <th></th>
            </tr>
            @for (int i = 0; i < Program.Temp.GetListNames().Count; i++)
            {

                <tr>
                    <td>@Program.Temp.GetListNames()[i]</td>
                    <td>@Program.Temp.GetListDesc()[i]</td>
                    <td class="centered-cell">@Program.Temp.GetListFaceCounts()[i]</td>
                    <td>
                        <form method="post" asp-page-handler="AddFace" id="addFaceFormSubmit">
                            <input type="hidden" name="person" value="@Program.Temp.GetListPersonIDs()[i]" />
                            <input id="addFaceBtn" class="addFaceBtn" type="image"
                                   src="~/images/addFace-btn.png" />
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-page-handler="DeletePerson">
                            <input type="hidden" name="personID" value="@Program.Temp.GetListPersonIDs()[i]" />
                            <input class="removeBtn" type="image" src="~/images/red-delete-rectangle.png" />
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="facePanelBottom">
        <div id="facePanelBottomLeft">            
            <i class="fas fa-user-plus" onclick="ToggleFacePanel(); ToggleAddPersonPanel();"></i>                           
        </div>
        <div id="facePanelBottomMiddle" onch="ToggleFacePanel()">                                          
            @if (Program.Temp.GetTrainingStatus() != "succeeded")
            {
                <span calss="gold" id="trainingStatus">Training Status - @Program.Temp.GetTrainingStatus()</span>
            }
        </div>
        <div id="facePanelBottomRight">
            <a href="./UserControls">
                <i onclick="Refresh()" class="fas fa-sync-alt"></i>
            </a>            
        </div>
    </div>
</div>

<div id="addPersonPanel">
    <div id="addPersonPanelTop">
        <h2>Add Person to database</h2>
        <form method="post" asp-page-handler="CreatePerson">
            <table id="addPersonTable">
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name"/></td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" name="desc"/></td>
                </tr>
            </table>                        
            <br />
            <input id="addPersonBtn" type="submit" onclose="ToggleTakePicPanel()" value="Add Person" />            
        </form>
    </div>
    <div id="addPersonPanelBottom">
        <i class="fas fa-arrow-left" onclick="ToggleFacePanel(); ToggleAddPersonPanel();">&nbsp;Back</i>
    </div>
</div>

<div id="confirmDialog" title="Save Face" hidden>
    <p>Do you want to save changes </p>
</div>

<div id="takePicPanel" style="display: @Model.display;">
    <div id="instructions">
        <p>
            Look directly into the camera and press <b>Camera Button</b> to take your first pic.
            Facial Recgonition software works better if you take multiple pictures with
            your face at different angles. Please submit atleast 3 pictures
        </p>
        <form method="post" asp-page-handler="TakePic">
            <input class="cameraBtn" type="image" src="~/images/camera-btn.png" />
        </form>
    </div>
    <div id="takePicPanelBottom">
        <i class="far fa-times-circle closeWindow" onclick="CloseWindow()"></i>
        <form method="post" asp-page-handler="CloseWindow" id="closeWindow"></form>
    </div>
</div>

@{
    <div id="webCam">              
        <img src="http://@Model.serverIP:8080/?action=stream">
    </div>
}
<div id="controls">
    <div id="carControl">
        <div class="title"><h3>Car Controls</h3></div>
        <div class="controlLeft">
            <form method="post" asp-page-handler="Control">
                <input id="leftBtn" class="controlBtn" type="submit" name="cmd" value="Left" />
            </form>
        </div>
        <div class="controlCenter">
            <form method="post" asp-page-handler="Control">
                <input id="forwardBtn" class="controlBtn forwardBtn" type="submit" name="cmd" value="Forward" />
                <input id="homeBtn" class="controlBtn" type="submit" name="cmd" value="Home" />
                <input id="backwardBtn" class="controlBtn" type="submit" name="cmd" value="Backward" />
            </form>
        </div>
        <div class="controlRight">
            <form method="post" asp-page-handler="Control">
                <input id="rightBtn" class="controlBtn" type="submit" name="cmd" value="Right" />
            </form>
        </div>
        <div class="controlStop">
            <form method="post" asp-page-handler="Control">
                <input id="stopBtn" class="connectBtn" type="submit" name="cmd" value="Stop" />
            </form>
        </div>
    </div>

    <div id="camControl">
        <div class="title"><h3>Cam Controls</h3></div>
        <div class="controlLeft">
            <form method="post" asp-page-handler="CamControl">
                <input id="camLeft" class="controlBtn" type="submit" name="cmd" value="Left" />
            </form>
        </div>
        <div class="controlCenter">
            <form method="post" asp-page-handler="CamControl">
                <input id="camUp" class="controlBtn" type="submit" name="cmd" value="Up" />
                <input id="camHome" class="controlBtn" type="submit" name="cmd" value="Home" />
                <input id="camDown" class="controlBtn" type="submit" name="cmd" value="Down" />
            </form>
        </div>
        <div class="controlRight">
            <form method="post" asp-page-handler="CamControl">
                <input id="camRight" class="controlBtn" type="submit" name="cmd" value="Right" />
            </form>
        </div>
    </div>
</div>

<div id="speedControl">
    <form method="post" asp-page-handler="SetSpeed">
        <input type="range" min="10" max="100" name="speed" value="@Model.mySpeed" class="slider" id="mySpeed">
        <h3 class="white">Speed: <span id="speed"></span></h3>
    </form>
</div>

<div id="connect" style="margin: 20px">
    <form method="post" asp-page-handler="Connect">
        <input type="text" name="ipAddress" value="ip address" />
        <input class="controlStop" type="submit" name="Connect" value="Connect" />
    </form>
</div>

<div id="diconnect" style="margin: 20px">
    <form method="post" asp-page-handler="Disconnect">
        <input class="controlStop" type="submit" name="Disconnect" value="Disconnect" />
    </form>
</div>

<div id="auxConnect" style="margin: 20px">
    <form method="post" asp-page-handler="AuxConnect">
        <input type="text" name="ipAddress" value="ip address" />
        <input class="controlStop" type="submit" name="Disconnect" value="AuxConnect" />
    </form>
</div>

<div id="auxDisconnect" style="margin: 20px">
    <form method="post" asp-page-handler="AuxDisconnect">
        <input class="controlStop" type="submit" name="Disconnect" value="AuxDisconnect" />
    </form>
</div>

<div id="lightOn" style="margin: 20px">
    <form method="post" asp-page-handler="LightOn">
        <input class="controlStop" type="submit" name="Disconnect" value="LightOn" />
    </form>
</div>

<div id="lightOff" style="margin: 20px">
    <form method="post" asp-page-handler="LightOff">
        <input class="controlStop" type="submit" name="Disconnect" value="LightOff" />
    </form>
</div>

<div id="speak" style="margin: 20px">
    <form method="post" asp-page-handler="Speak">
        <input type="text" name="text" value="text" />
        <input type="submit" value="Speak" />
    </form>
</div>

<div id="fredSees" style="margin: 20px">
    <form method="post" asp-page-handler="FredSees">
        <input class="controlStop" type="submit" value="Fred Sees" />
    </form>
</div>

<div id="fredReads" style="margin: 20px">
    <form method="post" asp-page-handler="FredReads">
        <input class="controlStop" type="submit" value="Fred Reads" />
    </form>
</div>

<div id="detectFace" style="margin: 20px">
    <form method="post" asp-page-handler="DetectFace">
        <input class="controlStop" type="submit" value="Detect Face" />
    </form>
</div>

<div id="faceList" style="margin: 20px">         
    <input class="controlStop" onclick="ToggleFacePanel()" type="submit" value="Get Face list" />            
</div>

